@page "/setting"

<div>
    <MudForm Class="d-flex flex-column pa-2" Model="@AppSetting">
        <MudText Typo="Typo.h6" Class="flex-grow-0">@Resources.Settings_Caption_Setting</MudText>
        <MudDivider Class="flex-grow-0"/>
        <MudPaper Elevation="0" Class="setting-box flex-grow-1">
            <MudStack Class="flex-grow-1">
                <MudElement Class="mt-2">
                    <MudText>@Resources.Settings_Caption_Language</MudText>
                    <MudSelect T="string"
                               @bind-Value="AppSetting.Localization"
                               AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem Value="@("en-US")">English</MudSelectItem>
                        <MudSelectItem Value="@("zh-cn")">Chinese Simplified</MudSelectItem>
                        <MudSelectItem Value="@("zh-tw")">Chinese Traditional</MudSelectItem>
                    </MudSelect>
                </MudElement>
                <MudPaper Class="d-flex" Elevation="0">
                    <MudTextField T="string"
                                  Label="Locale Emulator Path"
                                  For="() => AppSetting.LocaleEmulatorPath!"
                                  @bind-Value="AppSetting.LocaleEmulatorPath">
                    </MudTextField>
                    <MudButton OnClick="ScanLocaleEmulator" Variant="Variant.Outlined">@Resources.Settings_Button_ScanFromInstalled</MudButton>
                </MudPaper>
                <MudPaper Class="d-flex" Elevation="0">
                    <MudTextField T="string"
                                  Label="Sandboxie Path"
                                  For="() => AppSetting.SandboxiePath!"
                                  @bind-Value="AppSetting.SandboxiePath">
                    </MudTextField>
                    <MudButton OnClick="ScanSandboxie" Variant="Variant.Outlined">@Resources.Settings_Button_ScanFromInstalled</MudButton>
                </MudPaper>
                <MudElement>
                    <MudCheckBox T="bool" @bind-Value="AppSetting.IsAutoFetchInfoEnabled">@Resources.Settings_Button_EnableAutoFetchInfoOnScan</MudCheckBox>
                </MudElement>
                <MudElement Class="d-flex flex-row align-items-center w-25">
                    <MudCheckBox T="bool"
                                 Value="AppSetting.EnableSync"
                                 ValueChanged="@(enable => { if (AppSetting.EnableSync == enable) { return; } AppSetting.EnableSync = enable; _syncSettingChange = true; })">
                        @Resources.Common_EnableSync
                    </MudCheckBox>
                    <MudNumericField T="int"
                                     Value="AppSetting.SyncInterval"
                                     Variant="Variant.Outlined"
                                     FullWidth="false"
                                     Label="Interval"
                                     ValueChanged="@(i => { if (AppSetting.SyncInterval == i) { return; } AppSetting.SyncInterval = i; _syncSettingChange = true; })"
                                     Min="1"
                                     Max="int.MaxValue">
                    </MudNumericField>
                </MudElement>
                <MudElement>
                    <MudTextField T="string"
                                  Label="WebDAV Url"
                                  For="() => AppSetting.WebDAVUrl!"
                                  @bind-Value="AppSetting.WebDAVUrl">
                    </MudTextField>
                </MudElement>
                <MudElement>
                    <MudTextField T="string"
                                  Label="WebDAV User"
                                  For="() => AppSetting.WebDAVUser!"
                                  @bind-Value="AppSetting.WebDAVUser">
                    </MudTextField>
                </MudElement>
                <MudElement>
                    <MudTextField InputType="InputType.Password" T="string"
                                  Label="WebDAV Password"
                                  For="() => _displayWebdavPassword"
                                  @bind-Value="_displayWebdavPassword">
                    </MudTextField>
                </MudElement>
                <MudStack Row="true">
                    <MudStack Class="list-container">
                        <MudToolBar Class="ma-0 pa-0">
                            <MudText>@Resources.Settings_Caption_GuideSite</MudText>
                            <MudIconButton Icon="@Icons.Material.Filled.Add"
                                           OnClick="OnAddGuideSiteClick"
                                           Style="color: green;"/>
                            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                           OnClick="OnDeleteGuideSiteClick"
                                           Style="color: red;"/>
                        </MudToolBar>
                        <MudTable T="GuideSite" Items="@GuideSites"
                                  Hover="true"
                                  RowClass="cursor-pointer"
                                  Height="200px"
                                  Bordered="true"
                                  @ref="GuideSiteTable"
                                  OnRowClick="() => { }"
                                  RowClassFunc="OnSelectedRowClassFunc">
                            <HeaderContent>
                                <MudTh>Name</MudTh>
                                <MudTh>URL</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Name">@context.Name</MudTd>
                                <MudTd DataLabel="URL">@context.SiteUrl</MudTd>
                            </RowTemplate>
                        </MudTable>
                    </MudStack>
                    <MudStack Class="list-container">
                        <MudToolBar Class="ma-0 pa-0">
                            <MudText>@Resources.Settings_Caption_TextMapping</MudText>
                            <MudIconButton Icon="@Icons.Material.Filled.Add"
                                           OnClick="OnAddTextMappingClick"
                                           Style="color: green;"/>
                            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                           OnClick="OnDeleteTextMappingClick"
                                           Style="color: red;"/>
                        </MudToolBar>
                        <MudTable T="TextMapping" Items="@TextMappings"
                                  Hover="true"
                                  RowClass="cursor-pointer"
                                  Height="200px"
                                  Bordered="true"
                                  @ref="TextMappingTable"
                                  OnRowClick="() => { }"
                                  RowClassFunc="OnTextMappingsSelectedRowClassFunc">
                            <HeaderContent>
                                <MudTh>Original</MudTh>
                                <MudTh>Replace</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Orignal">@context.Original</MudTd>
                                <MudTd DataLabel="Replace">@context.Replace</MudTd>
                            </RowTemplate>
                        </MudTable>
                    </MudStack>
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudToolBar Class="flex-grow-0 justify-end">
            <MudButton OnClick="OnSaveClick" Color="Color.Primary" Variant="Variant.Filled" FullWidth="true">@Resources.Dialog_Button_Save</MudButton>
        </MudToolBar>
    </MudForm>
</div>