@page "/tools"

<div>
    <MudStack Row="true">
        <h1>Tools</h1>
        <MudButton Color="Color.Default" Variant="Variant.Outlined"
                   ButtonType="ButtonType.Reset"
                   OnClick="OnOpenToolsFolderClick">
            Open Tools Folder
        </MudButton>
    </MudStack>
    <MudDivider />
    <MudStack>
        <h2>Built-in</h2>
        @foreach (var builtinToolInfo in _BuiltinToolInfos)
        {
            <MudPaper Outlined="true" Class="d-flex flex-row pa-2">
                <MudText Typo="Typo.h6" Align="Align.Center">@builtinToolInfo.Name</MudText>
                <MudSpacer />
                @if (Directory.Exists(Path.Combine(AppPathService.ToolsDirPath, builtinToolInfo.Name)))
                {
                    <MudButton OnClick="builtinToolInfo.Launch">
                        <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Style="@($"color:{Colors.Green.Default}")"></MudIcon>
                        Run
                    </MudButton>
                    <MudButton OnClick="() => RemoveTool(builtinToolInfo.Name)">
                        <MudIcon Icon="@Icons.Material.Filled.Close" Style="@($"color:{Colors.Red.Default}")"></MudIcon>
                        Remove
                    </MudButton>
                }
                else
                {
                    @if (builtinToolInfo.IsDownloading)
                    {
                        <MudProgressCircular Color="Color.Success" Value="@builtinToolInfo.Progress" />
                        <MudButton OnClick="@(_ => { builtinToolInfo.CancellationTokenSource.Cancel(); })">
                            <MudIcon Icon="@Icons.Material.Filled.Close" Style="@($"color:{Colors.Green.Default}")"></MudIcon>
                            Cancel
                        </MudButton>
                    }
                    else
                    {
                        <MudButton OnClick="@builtinToolInfo.StartDownload">
                            <MudIcon Icon="@Icons.Material.Filled.Download" Style="@($"color:{Colors.Green.Default}")"></MudIcon>
                            Download
                        </MudButton>
                    }
                }
            </MudPaper>
        }
        <h2>Custom</h2>
        @if (CustomToolInfos != null)
        {
            @foreach (var customToolInfo in CustomToolInfos)
            {
                <MudPaper Outlined="true" Class="d-flex flex-row pa-2">
                    <MudText Typo="Typo.h6" Align="Align.Center">@customToolInfo.Name</MudText>
                    <MudSpacer />
                    <MudButton OnClick="customToolInfo.Launch">
                        <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Style="@($"color:{Colors.Green.Default}")"></MudIcon>
                        Run
                    </MudButton>
                </MudPaper>
            }
        }
    </MudStack>
</div>