<MudNavMenu Class="mud-height-full d-flex flex-column">
    <MudTooltip Text="@Resources.NavMenu_Game">
        <MudNavLink Class="d-flex align-center" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.GridView" Href="/"></MudNavLink>
    </MudTooltip>
    <MudDivider Class="flex-grow-0"/>
    <MudTooltip Text="@Resources.NavMenu_Library">
        <MudNavLink Class="d-flex align-center" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Folder" Href="/library">@Resources.NavMenu_Library</MudNavLink>
    </MudTooltip>
    <MudDivider Class="flex-grow-0"/>
    <MudTooltip Text="@Resources.NavMenu_Tools">
        <MudNavLink Class="d-flex align-center" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AllInbox" Href="/tools">@Resources.NavMenu_Tools</MudNavLink>
    </MudTooltip>
    <MudDivider Class="flex-grow-0"/>
    <MudTooltip Text="@Resources.NavMenu_TagSet">
        <MudNavLink Class="d-flex align-center" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Tag" Href="/tagset">@Resources.NavMenu_TagSet</MudNavLink>
    </MudTooltip>
    <div class="flex-grow-1 flex-shrink-1">
        <MudSpacer/>
    </div>
    <div>
        <MudTooltip Text="Sync">
            @if (_lastSyncStatus == "Running")
            {
                <MudIcon Class="spin-sync" Icon="@Icons.Material.Filled.Sync"></MudIcon>
            }
            else if (_lastSyncStatus == "Success")
            {
                <MudIcon Class="not-spin-sync" Icon="@Icons.Material.Filled.Sync"></MudIcon>
            }
            else
            {
                <MudIcon Class="not-spin-sync sync-failed" Icon="@Icons.Material.Filled.Sync"></MudIcon>
            }
        </MudTooltip>
    </div>
    <MudTooltip Text="@Resources.NavMenu_Help">
        <MudNavLink Class="d-flex align-center" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Help" Href="/help">@Resources.NavMenu_Help</MudNavLink>
    </MudTooltip>
    <MudDivider Class="flex-grow-0"/>
    <MudTooltip Text="@Resources.NavMenu_Setting">
        <MudNavLink Class="d-flex align-center" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Settings" Href="/setting">@Resources.NavMenu_Setting</MudNavLink>
    </MudTooltip>
</MudNavMenu>