@using GameManager.Properties
@inherits MudComponentBase

<div class="card-item">
    <MudPaper Elevation="0" @attributes="UserAttributes!" Style="@Style" Class="@ClassName" @onclick="OnCardClick">
        <MudPaper Elevation="0" Class="d-flex flex-column">
            <MudImage Height="300" Width="250"
                      Src="@ImageSrc" loading="lazy"
                      Alt="No Image" ObjectFit="ObjectFit.Contain" />
            <MudPaper Width="250px" MaxWidth="250px" MaxHeight="50px"
                      Elevation="0" Class="card-labels">
                @foreach (var developer in DeveloperList)
                {
                    <MudChip T="string" Color="Color.Error">@developer</MudChip>
                }
            </MudPaper>
            <MudPaper Elevation="0" MaxWidth="250px">
                <MudTooltip Text="@GameInfo?.ExePath">
                    <MudText Typo="Typo.h6" Class="card-game-name">@GameInfo?.GameName</MudText>
                </MudTooltip>
            </MudPaper>
            <MudToolBar Class="pa-0">
                <MudButton OnClick="OnLaunch" StartIcon="@Icons.Material.Filled.ArrowRight" Variant="Variant.Outlined">@Resources.Card_Run</MudButton>
                <MudButton OnClick="OnEdit" StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined">@Resources.Card_Edit</MudButton>
                <MudSpacer></MudSpacer>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                    <MudButton OnClick="OnOpenInExplorer" Variant="Variant.Text" Color="Color.Primary" FullWidth="true">@Resources.Card_OpenInExplorer</MudButton>
                    <MudDivider />
                    <MudButton OnClick="OnDelete" Variant="Variant.Text" Color="Color.Secondary" FullWidth="true">@Resources.Card_Delete</MudButton>
                </MudMenu>
            </MudToolBar>
        </MudPaper>
    </MudPaper>
</div>