<div>
    <MudDialog>
        <DialogContent>
            <MudPaper Elevation="0" Class="edit-zone">
                <MudStack Row="true" Class="d-flex">
                    <MudPaper Class="flex-grow-0" Outlined="true" id="cover-container">
                        <MudImage Height="500" Width="400" ObjectFit="ObjectFit.Contain" Src="@CoverPath"></MudImage>
                    </MudPaper>
                    <MudStack Class="flex-grow-1">
                        <MudToolBar Class="pa-0">
                            <MudButton OnClick="UploadByUrl"
                                       Color="Color.Primary"
                                       Variant="Variant.Outlined">
                                Change Cover
                            </MudButton>
                            <MudButton OnClick="OnInfoFetch"
                                       Class="ml-2"
                                       Color="Color.Primary"
                                       Variant="Variant.Outlined"
                                       StartIcon="@Icons.Material.Filled.Download">
                                Fetch
                            </MudButton>
                            <MudSpacer />
                        </MudToolBar>
                        <MudTextField @bind-Value="Model.GameName" For="@(() => Model.GameName)" />
                        <MudToolBar Class="pa-0">
                            <MudTextField @bind-Value="Model.Vendor" For="@(() => Model.Vendor)" />
                            <MudDatePicker @bind-Date="Model.DateTime"
                                           For="@(() => Model.DateTime)"
                                           Editable="true"
                                           ImmediateText="true"
                                           Placeholder="yyyy/MM/dd"
                                           DateFormat="yyyy/MM/dd"
                                           TextChanged="DatePickerTextChanged"
                                           Clearable="true" />
                        </MudToolBar>
                        <MudToolBar Class="pa-0 ma-0">
                            <MudTextField ReadOnly="true" @bind-Value="Model.ExePath" For="@(() => Model.ExePath)" />
                            <MudSelect Class="mt-2 mb-2"
                                       @bind-Value="Model.ExeFile"
                                       AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined"
                                       Label="Execution File">
                                @foreach (var file in ExeFiles)
                                {
                                    <MudSelectItem Value="file"></MudSelectItem>
                                }
                            </MudSelect>
                        </MudToolBar>
                        <MudTextField Lines="5" MaxLines="8" @bind-Value="Model.Description" For="@(() => Model.Description)"></MudTextField>
                        <MudPaper Elevation="0">
                            <MudToolBar Class="pa-0">
                                <MudText Typo="Typo.h5">Launch Options:</MudText>
                                <MudStack Row="true">
                                    <MudCheckBox T="bool" @bind-Value="@Model.RunAsAdmin">RunAsAdmin</MudCheckBox>
                                </MudStack>
                                <MudPaper Class="ml-3">
                                    <MudSelect
                                        Label="LE Option"
                                        @bind-Value="Model.LeConfig"
                                        AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined">
                                        @foreach (var config in LeConfigs)
                                        {
                                            <MudSelectItem Value="config" />
                                        }
                                    </MudSelect>
                                </MudPaper>
                            </MudToolBar>
                        </MudPaper>
                    </MudStack>
                </MudStack>
            </MudPaper>
        </DialogContent>
        <DialogActions>
            <MudButton Variant="Variant.Outlined"
                       Class="mr-2"
                       Color="Color.Primary"
                       OnClick="OnSave">
                Save
            </MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="OnCancel">
                Cancel
            </MudButton>

        </DialogActions>
    </MudDialog>
</div>