<div>
    <MudDialog>
        <DialogContent>
            <MudPaper Elevation="0" Class="edit-zone">
                <MudStack Row="true" Class="d-flex">
                    <MudPaper Class="flex-grow-0" Outlined="true" id="cover-container">
                        <MudImage Height="500" Width="400" ObjectFit="ObjectFit.Contain" Src="@CoverPath"></MudImage>
                    </MudPaper>
                    <MudStack Class="flex-grow-1">
                        <MudToolBar Class="pa-0">
                            <MudButton OnClick="UploadByUrl"
                                       Color="Color.Primary"
                                       Variant="Variant.Outlined">
                                @Resources.GameEditorDialog_ChangeCover
                            </MudButton>
                            <MudButton OnClick="OnInfoFetchClick"
                                       Class="ml-2"
                                       Color="Color.Primary"
                                       Variant="Variant.Outlined"
                                       StartIcon="@Icons.Material.Filled.Download">
                                Fetch
                            </MudButton>
                            <MudSpacer />
                        </MudToolBar>
                        <MudTextField @bind-Value="Model.GameName" For="@(() => Model.GameName)" Label="@Resources.GameEditorDialog_Caption_GameName" />
                        <MudToolBar Class="pa-0">
                            <MudTextField @bind-Value="Model.Vendor" For="@(() => Model.Vendor)" Label="@Resources.GameEditorDialog_Caption_Developer" />
                            <MudDatePicker @bind-Date="Model.DateTime"
                                           For="@(() => Model.DateTime)"
                                           Label="@Resources.GameEditorDialog_Caption_ReleaseDate"
                                           Editable="true"
                                           ImmediateText="true"
                                           Placeholder="yyyy/MM/dd"
                                           DateFormat="yyyy/MM/dd"
                                           TextChanged="DatePickerTextChanged"
                                           Clearable="true" />
                        </MudToolBar>
                        <MudToolBar Class="pa-0 ma-0">
                            <MudTextField ReadOnly="true" @bind-Value="Model.ExePath"
                                          For="@(() => Model.ExePath)"
                                          Label="@Resources.GameEditorDialog_Caption_ExecutionFilePath" />
                            <MudSelect Class="mt-2 mb-2"
                                       @bind-Value="Model.ExeFile"
                                       AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined"
                                       Label="@Resources.GameEditorDialog_Caption_ExecutionFile">
                                @foreach (var file in ExeFiles)
                                {
                                    <MudSelectItem Value="file"></MudSelectItem>
                                }
                            </MudSelect>
                        </MudToolBar>
                        <MudToolBar Class="pa-0 ma-0">
                            <MudTextField @bind-Value="Model.SaveFilePath"
                                          For="@(() => Model.SaveFilePath)"
                                          Label="@Resources.GameEditorDialog_SavePath" />
                            <MudButton Variant="Variant.Outlined"
                            OnClick="OnSaveBrowseClick"
                                       Color="Color.Primary">
                                @Resources.GameEditorDialog_Browse
                            </MudButton>
                        </MudToolBar>
                        <MudTextField Lines="5" MaxLines="8" @bind-Value="Model.Description"
                                      For="@(() => Model.Description)"
                                      Label="@Resources.GameEditorDialog_Caption_Desciption">
                        </MudTextField>
                        <MudPaper Elevation="0">
                            <MudText Typo="Typo.h5">@Resources.GameEditorDialog_Caption_LaunchOptions</MudText>
                            <MudToolBar Class="pa-0">
                                <MudStack Row="true">
                                    <MudCheckBox T="bool" @bind-Value="@Model.RunAsAdmin">@Resources.GameEditorDialog_RunAsAdmin</MudCheckBox>
                                </MudStack>
                                <MudPaper Class="ml-3">
                                    <MudSelect
                                        Label="@Resources.GameEditorDialog_LEOption"
                                        @bind-Value="Model.LeConfig"
                                        AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined">
                                        @foreach (var config in LeConfigs)
                                        {
                                            <MudSelectItem Value="config" />
                                        }
                                    </MudSelect>
                                </MudPaper>
                            </MudToolBar>
                            <MudToolBar Class="pa-0">
                                <MudCheckBox T="bool"
                                             @bind-Value="@Model.RunWithSandboxie"
                                             Label="@Resources.GameEditorDialog_RunWithSandboxie">
                                </MudCheckBox>
                            </MudToolBar>
                            <MudToolBar Class="pa-0">
                                <MudCheckBox T="bool"
                                             @bind-Value="@Model.RunWithVNGTTranslator"
                                             Label="@Resources.GameEditorDialog_RunWithVNGTTranslator">
                                </MudCheckBox>
                                <MudCheckBox T="bool"
                                             Disabled="@(!Model.RunWithVNGTTranslator)"
                                             @bind-Value="@Model.IsVNGTTranslatorNeedAdmin"
                                             Label="@Resources.GameEditorDialog_VNGTTranslatorNeedAdmin">
                                </MudCheckBox>
                            </MudToolBar>
                        </MudPaper>
                        <MudPaper Elevation="0">
                            <MudStack Row="true">
                                <MudText Typo="Typo.h4">Tag Sets</MudText>
                                <MudIconButton Icon="@Icons.Material.Filled.Add"
                                               OnClick="OnAddTagClick">
                                </MudIconButton>
                            </MudStack>
                            <MudPaper MaxHeight="100px" Elevation="0" Outlined="true" Class="label-set">
                                <MudStack Spacing="1" Row="true" Wrap="Wrap.Wrap">
                                    @foreach (var tag in Model.Tags)
                                    {
                                        <MudChip T="string" Color="Color.Info"
                                                 OnClose="OnTagRemoveClick" Value="tag">
                                        </MudChip>
                                    }
                                </MudStack>
                            </MudPaper>
                        </MudPaper>
                    </MudStack>
                </MudStack>
            </MudPaper>
        </DialogContent>
        <DialogActions>
            <MudButton Variant="Variant.Outlined"
                       Class="mr-2"
                       Color="Color.Primary"
                       OnClick="OnSave">
                @Resources.Dialog_Button_Save
            </MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="OnCancel">
                @Resources.Dialog_Button_Cancel
            </MudButton>
        </DialogActions>
    </MudDialog>
</div>