<div>
    @if (IsLoading)
    {
        <div class="progress-container">
            <div class="justify-center align-center d-flex">
                <MudProgressCircular Color="Color.Primary"
                                     Indeterminate="true">
                </MudProgressCircular>
            </div>
        </div>
    }
    else
    {
        @foreach (CharacterViewModel character in GameInfoVo.Characters)
        {
            <div class="character-container">
                <div class="left-panel">
                    <img src="@character.DisplayImage" alt="character-image" class="character-image">
                    <div class="character-description">
                        <h2>@character.Name</h2>
                        <p>
                            @character.Description
                        </p>
                    </div>
                </div>
                <div class="right-panel">
                    <h3>@Resources.DetailPage_Character_Information</h3>
                    <ul class="character-info">
                        <li>
                            <strong>@Resources.DetailPage_Character_Birthday：</strong>@character.Birthday
                        </li>
                        <li>
                            <strong>@Resources.DetailPage_Character_Gender：</strong>@character.Sex
                        </li>
                        <li>
                            <strong>@Resources.DetailPage_Character_Age：</strong>@character.Age
                        </li>
                        <li>
                            <strong>@Resources.DetailPage_Character_BloodType：</strong>@character.BloodType
                        </li>
                    </ul>
                </div>
            </div>
        }
    }
</div>