<div id="game-detail-page">
    @if (IsLoading)
    {
        <div class="justify-center align-center d-flex">
            <MudProgressCircular Color="Color.Primary"
                                 Indeterminate="true"
                                 Style="width:500px; height: 500px; ">
            </MudProgressCircular>
        </div>
    }
    else
    {
        <a onclick="@OnReturnClick" class="back-button">← @Resources.DetailPage_Back</a>
        <div class="game-details-header">
            <div class="game-background">
                <img src="@GameInfoVo.DisplayBackgroundImage" onerror="this.style.display='none';" alt="game screenshot">
            </div>
            <div class="game-status-container">
                <div class="d-flex flex-row">
                    <div class="game-thumbnail">
                        <img src="@GameInfoVo.DisplayCoverImage" alt="game cover">
                    </div>
                    <div class="flex-grow-1 pa-1">
                        <h1 class="game-title">@GameInfoVo.OriginalName</h1>
                        @if (!string.IsNullOrWhiteSpace(GameInfoVo.ChineseName))
                        {
                            <h3 class="game-subtitle">@GameInfoVo.ChineseName</h3>
                        }
                        @if (!string.IsNullOrWhiteSpace(GameInfoVo.EnglishName))
                        {
                            <h3 class="game-subtitle">@GameInfoVo.EnglishName</h3>
                        }
                        <button class="play-button" @onclick="OnStartGameClick">Start</button>
                    </div>
                </div>
                <div class="game-status">
                    <div class="status-item">
                        <span class="icon">☁️</span>
                        <span>CloudSync</span>
                        <span class=@("status-sync" + (GameInfoVo.EnableSync ? " enabled" : ""))>@(GameInfoVo.EnableSync ? Resources.Common_Enabled : Resources.Common_Disabled)</span>
                    </div>
                    <div class="status-item">
                        <span class="icon">📅</span>
                        <span>@Resources.DetailPage_LastPlayTime</span>
                        <span class="status">@GameInfoVo.LastPlayed</span>
                    </div>
                    <MudSpacer/>
                    <div class="button-container">
                        <button class="icon-button" onclick="@(async () => { await OnEditGameInfo(); })">
                            <MudIcon Icon="@Icons.Material.Filled.Settings"/>
                        </button>
                        <MudMenu AnchorOrigin="Origin.TopLeft" TransformOrigin="Origin.TopRight">
                            <ActivatorContent>
                                <button class="icon-button">
                                    <MudIcon Icon="@Icons.Material.Filled.MoreHoriz"></MudIcon>
                                </button>
                            </ActivatorContent>
                            <ChildContent>
                                <MudMenuItem Class="icon-menu-item" OnClick="OnOpenInExplorerClick">
                                    @Resources.DetailPage_OpenInExplorer
                                </MudMenuItem>
                                <MudMenuItem Class="icon-menu-item" OnClick="OnOpenSaveFilePathClick">
                                    @Resources.DetailPage_OpenSaveFilePath
                                </MudMenuItem>
                                <MudMenuItem Class="sub-menu-item">
                                    <MudMenu Class="h-100 w-100"
                                             AnchorOrigin="Origin.TopLeft" TransformOrigin="Origin.TopRight"
                                             ActivationEvent="MouseEvent.MouseOver">
                                        <ActivatorContent>
                                            <MudMenuItem Class="icon-menu-item">
                                                @Resources.DetailPage_SearchGuide
                                            </MudMenuItem>
                                        </ActivatorContent>
                                        <ChildContent>
                                            @foreach (GuideSite guideSite in GuideSites)
                                            {
                                                <MudMenuItem Class="icon-menu-item" OnClick="() => OnGuideSearchClick(guideSite)">
                                                    @guideSite.Name
                                                </MudMenuItem>
                                            }
                                        </ChildContent>
                                    </MudMenu>
                                </MudMenuItem>
                            </ChildContent>
                        </MudMenu>
                    </div>
                </div>
                <div class="tabs">
                    <input type="radio" id="radio-detail" name="tab" checked="@(_selectedTab == "info")"
                           onclick="@(() => OnTabChangeClick("info"))">
                    <label for="radio-detail">@Resources.DetailPage_Tab_Detail</label>

                    @if (GameInfoVo.HasCharacters)
                    {
                        <input type="radio" id="radio-character" name="tab" checked="@(_selectedTab == "character")"
                               onclick="@(() => OnTabChangeClick("character"))">
                        <label for="radio-character">@Resources.DetailPage_Tab_Character</label>
                    }

                    <input type="radio" id="radio-screenshots" name="tab" checked="@(_selectedTab == "screenshots")"
                           onclick="@(() => OnTabChangeClick("screenshots"))">
                    <label for="radio-screenshots">@Resources.DetailPage_Tab_Screenshots</label>

                    <input type="radio" id="radio-save-manager" name="tab" checked="@(_selectedTab == "save-manager")"
                           onclick="@(() => OnTabChangeClick("save-manager"))">
                    <label for="radio-save-manager">@Resources.DetailPage_Tab_SaveManage</label>
                </div>
            </div>
        </div>
        <div class="padding-block"></div>

        @switch (_selectedTab)
        {
            case "info":
                <GameDetailInformation GameInfo="_gameInfo"/>
                break;
            case "character":
                <GameDetailCharacter GameInfo="_gameInfo"/>
                break;
            case "screenshots":
                <GameDetailScreenShots GameInfo="_gameInfo" OnUpdateNeeded="OnUpdateNeededHandler"/>
                break;
            case "save-manager":
                <GameDetailSaveManager GameInfo="_gameInfo"/>
                break;
        }
    }
</div>

<style>
    .icon-menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 100px;
        background-color: #3c4f5e;
    }

    .icon-menu-item:hover {
        background-color: #2e3d4b;
    }
    
    .sub-menu-item , .sub-menu-item > .mud-list-item-text {
        margin: 0;
        padding: 0;
    }
</style>