<div class="game-content">
    <div class="left-column">
        <section class="game-intro">
            <h2>@Resources.DetailPage_Information_GameIntroduction</h2>
            <p>
                @GameInfoViewModel.Introduction
            </p>
        </section>

        <section class="release-list">
            <h2>@Resources.DetailPage_Information_Releases</h2>
            @foreach (ReleaseInfoViewModel releaseInfo in GameInfoViewModel.ReleaseInfoViewModels)
            {
                <div class="release-item">
                    <p>@releaseInfo.ReleaseName</p>
                    <p>@(Resources.DetailPage_Information_ReleaseDate + "：" + releaseInfo.ReleaseDate)　@(Resources.DetailPage_Information_Language + "：" + releaseInfo.ReleaseLanguage)</p>
                    <div class="d-flex flex-row">
                        @foreach (string platform in releaseInfo.Platforms)
                        {
                            <span class="platform">@platform</span>
                        }
                        <span class="rating">@releaseInfo.AgeRating</span>
                        @foreach (ExternalLinkViewModel releaseExternalLink in releaseInfo.ExternalLinks)
                        {
                            <a href="@releaseExternalLink.Url" class="release-ext-link">
                                <span>
                                    @releaseExternalLink.Label
                                </span>
                            </a>
                        }
                    </div>
                </div>
            }
        </section>
    </div>

    <div class="right-column">
        <section class="game-detail-info">
            <h3>@Resources.DetailPage_Information_GameInformation</h3>
            <p>@("Original Name : " + GameInfoViewModel.OriginalGameName)</p>
            @if (!string.IsNullOrWhiteSpace(GameInfoViewModel.ChineseGameName))
            {
                <p>@("Chinese Name : " + GameInfoViewModel.ChineseGameName)</p>
            }
            @if (!string.IsNullOrWhiteSpace(GameInfoViewModel.EnglishGameName))
            {
                <p>@("English Name : " + GameInfoViewModel.EnglishGameName)</p>
            }
            <p>@("Release Date : " + GameInfoViewModel.ReleaseDate)</p>
            <p>@("Developer : " + GameInfoViewModel.Developer)</p>
        </section>

        <section class="related-links">
            <h3>@Resources.DetailPage_Information_RelatedSites</h3>
            <ul>
                @foreach (RelatedSiteViewModel relatedSite in GameInfoViewModel.RelatedSites)
                {
                    <li>
                        <a href="@relatedSite.Url">@relatedSite.Name</a>
                    </li>
                }
            </ul>
        </section>

        <section class="staff-info">
            <h3>@Resources.DetailPage_Information_Staff</h3>
            @foreach (StaffViewModel staffView in GameInfoViewModel.Staffs)
            {
                <p>@(staffView.Role) : @(staffView.Name)</p>
            }
        </section>

        <section class="tag-container">
            <h3>@Resources.DetailPage_Inforamtion_Tags</h3>
            @foreach (string? tag in GameInfoViewModel.Tags)
            {
                <MudChip T="string" Variant="Variant.Filled" Color="Color.Success">
                    @tag
                </MudChip>
            }
        </section>
    </div>
</div>