<div id="game-detail-page">
    @if (IsLoading)
    {
        <div class="justify-center align-center d-flex">
            <MudProgressCircular Color="Color.Primary"
                                 Indeterminate="true"
                                 Style="width:500px; height: 500px; ">
            </MudProgressCircular>
        </div>
    }
    else
    {
        <a onclick="@OnReturnClick" class="back-button">← Back</a>
        <div class="game-details-header">
            <div class="game-background">
                <img src="@GameInfoViewModel.BackGroundImage" onerror="this.style.display='none';" alt="game screenshot">
            </div>
            <div class="game-status-container">
                <div class="d-flex flex-row">
                    <div class="game-thumbnail">
                        <img src="@GameInfoViewModel.CoverImage" alt="game cover">
                    </div>
                    <div class="flex-grow-1 pa-1">
                        <h1 class="game-title">@GameInfoViewModel.OriginalName</h1>
                        @if (!string.IsNullOrWhiteSpace(GameInfoViewModel.ChineseName))
                        {
                            <h3 class="game-subtitle">@GameInfoViewModel.ChineseName</h3>
                        }
                        @if (!string.IsNullOrWhiteSpace(GameInfoViewModel.EnglishName))
                        {
                            <h3 class="game-subtitle">@GameInfoViewModel.EnglishName</h3>
                        }
                        <button class="play-button">Start</button>
                    </div>
                </div>
                <div class="game-status">
                    <div class="status-item">
                        <span class="icon">☁️</span>
                        <span>CloudSync</span>
                        <span class="status">disabled</span>
                    </div>
                    <div class="status-item">
                        <span class="icon">📅</span>
                        <span>Last Play Time</span>
                        <span class="status">@GameInfoViewModel.LastPlayed</span>
                    </div>
                    <MudSpacer/>
                    <div class="button-container">
                        <button class="icon-button" onclick="@(async () => { await OnEditGameInfo(); })">
                            <MudIcon Icon="@Icons.Material.Filled.Settings"/>
                        </button>
                        <button class="icon-button">
                            <MudIcon Icon="@Icons.Material.Filled.MoreHoriz"></MudIcon>
                        </button>
                    </div>
                </div>
                <div class="tabs">
                    <input type="radio" id="radio-detail" name="tab" checked onclick="@(() => OnTabChangeClick("info"))">
                    <label for="radio-detail">Detail</label>

                    @if (GameInfoViewModel.HasCharacters)
                    {
                        <input type="radio" id="radio-character" name="tab" onclick="@(() => OnTabChangeClick("character"))">
                        <label for="radio-character">Character</label>
                    }
                </div>
            </div>
        </div>
        <div class="padding-block"></div>

        @if (_selectedTab == "info")
        {
            <GameDetailInformation GameInfo="_gameInfo"/>
        }
        else if (_selectedTab == "character")
        {
            <GameDetailCharacter GameInfo="_gameInfo"/>
        }
    }
</div>